/* blog */

.titulo_principal_blog{
    text-align: center;
    font-size: 50px;
    font-family: cursive;
}
img{
    max-width: 100%;
}
.galeria_img{
    columns: 3 320px;
    /* column-gap: 0.5em; */
    margin-bottom: 0.5em;
    display: block;
    
}

/* 
    @media screen and (max-width: 800px) {
        .color div{
            width: 100%;
        }
    } */